



*{
    font-family: 'Aleo', serif;
    font-family: 'BioRhyme', serif;
    color: rgb(0, 0, 0);
    background: #fcf8f0;
} 


 #home #container h1{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: rgb(63, 36, 18);
    background-color: rgb(222, 179, 106);
    padding: 10px;
    text-transform: capitalize;
    border: 1px solid rgb(108, 82, 34);
    border-radius:  35px;
    font-family: 'Aleo', serif;
    
    
    
}
#home #container p{
    font-size:20px ;
    text-align:justify;
    padding-left: 40px;

    color:rgb(63, 36, 18) ;
    font-style: italic;
    font-family: 'BioRhyme', serif;
    
}
#home #container button{
    font-size: 20px;
    color:rgb(63, 36, 18) ;
    font-weight: bold;
    padding:  10px 30px;
    background:rgb(222, 179, 106) ;
    border: 1px solid rgb(108, 82, 34);
    border-radius: 15px ;
    margin-left: 30px;
    font-family: 'Aleo', serif;
    
}
#nav ul li a{
    font-size: 1,5px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: rgb(63, 36, 18) ;
    background-color: rgb(222, 179, 106);
    line-height: 30px;

}
#menu #menu-container h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:rgb(63, 36, 18) ;
    background-color: rgb(222, 179, 106);
    text-align: center;
    border: 1px solid rgb(108, 82, 34);
    border-radius: 15px ;
    margin-top: 50px;
    font-family: 'Aleo', serif;
}
#menu{
    
    padding: 10px;
    text-align: justify;
}
#menu-container .menu-category h3{
    font-size: 35px;
    color :rgb(63, 36, 18) ;
    padding: 30px;
    text-decoration: underline;
}
img{
    border-radius: 60px 70px;
    border: 1px solid rgb(97, 67, 38);
    float:left;

}
.menu-item-info{
    padding: 100px;
    margin: 4px;
}

strong,.price{
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: rgb(97, 67, 38) ;
    padding-left: 10px;
    line-height: 1.5;
    
}
em{
    padding-left: 10px;
    
}
#about-us .one{
    font-size: 35px;
    margin-left: 30px;
    font-style: italic;
    color:  rgb(97, 67, 38) ;
    border: 1px solid;
    background-color:rgb(222, 179, 106);
    border-radius: 50px;
    margin-bottom: 10px;
}
p{
    padding:10px;
    font-weight:normal;
    font-style: italic;
    color: rgb(63, 36, 18) ;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 40px;
}
#contact{
    font-size: 25px;
    padding:30px;
    margin-top: 0px;
}
#contact-us h2{
    font-size: 25px;
    margin-top: 20px;
    font-style: italic;
    background-color:rgb(222, 179, 106);
    border-radius: 50px;
    display:inline-block;
    color: rgb(96, 61, 8);
    padding: 0px 10px 0px 10px;
    border: 1px solid;
    

}


 address p strong{
    border-radius: 30px;
    padding: 10px;
    font-size: 25px;
    font-style: italic;
    line-height: 1em;
    margin-top: 0px;
    background-color:rgb(222, 179, 106);
    border: 1px solid ;



}

#contact-us address p strong{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:rgb(222, 179, 106);
    border: 1px solid;

}
#contact-us address p{
    font-size: normal;
    padding: 0px 10px 0px 10px;


}
#contact-us p strong{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom:0px;
    background-color:rgb(222, 179, 106);
    border-radius: 50px;
    color: rgb(96, 61, 8);
    border: 1px solid;
}

#footer{
    font-size: 20px;
}
#footer p{
    text-align: center;
    margin-top: 0px;
    margin: 30px;
}
#footer a{
    text-decoration: none;
    padding: 10px;
    background-color:rgb(222, 179, 106);
    border-radius: 50px;
    font-weight: bold;
    border: 1px solid;
    
}
a:link{
    color: rgb(96, 61, 8);
}